/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */
body {
    font-family: 'open sans, Helvetica, sans-serif';
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.scrolling-element {
	height:1000px; 
	width: 100%;/* Example height for scrolling */
	overflow:auto ; /* Enable scrolling */
  }
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background-color: #aa2121;
    top: 100%;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
}


#karla {
    background: url("../images/yo3.jpg") repeat scroll center center/cover;
    height: 100vh;
    width: 101.42%;
    flex: 1;
	color:#fff
}

#karla .karla-content {
    height: 100vh;
    padding: 0;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);	
    font-family: 'open sans, Helvetica, sans-serif';
}

.karla-content h1 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
}

.animated-text {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden; 
}

.animated-text span::before {
    content: 'Karla Šantić';
    color: #fff;
    width: fit-content; 
    animation: typing 5s steps(40, end); 
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.karla-content p {
    font-size: 13px;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #ccb5b5;
    font-weight: 500;
}

.karla-content .list-social li {
    float: left;
    margin-right: 20px;
}

.karla-content .list-social li i {
    color: #fff;
    font-size: 15px;
}

.resume-main {
    background-color: #f1eee8;
    border-radius: 15px 0px 0px 15px;
    background: #ecc881d5;
    padding: 20px;
    width: 75%;
    height: 1000px;
    flex: 0.8;
	color:#001965;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 30px;
}

.resume-aside {
    background-color: #68784cc4;
	background: #68a3d0;
    padding: 20px;
    width: 25%;
    height: 1000px;
    flex: 0.2;
}

/* Styles for lists in the document */
.biography-details li::before,
.skill-list li::before {
    content: "•";
    font-weight: 800;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.biography-details li::before {
    color: #001965;
}

.biography-details li,
.skill-list li {
    padding-left: 1em;
}

/* Styles for contact icons */
.contact-icon {
    height: 1em;
    flex-basis: 1.4em;
}
a {
	color: #832f60; /* Blue color for unvisited links */
  }
  
  a:visited {
	color: #e8c500; /* Purple color for visited links */
  }
  
  